/* ------------------------------
   standard
------------------------------ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Noto Sans", sans-serif;
}
:root{
    --azzurro: #cfe5ff;
    --blu: #4171ab;
}

/* ------------------------------
   header
------------------------------ */
body{
    display: grid;
    grid-template-columns: 1fr 3fr;
}

#intestazione div{
    background: var(--azzurro);
    padding: 30px;
    text-align: left;
    border-radius: 1.5em;
    margin: 0.4em;
    
}
#intestazione h1{
    font-size: 2em;
}
#intestazione nav{
    display: flex;
    flex-direction: column;
    padding: 0.2em;
}
#intestazione nav a{
    margin-bottom: 1em;
}
