<!DOCTYPE html>
<html lang="it">

<head>
    <title>prenotazioni</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../style.css">
</head>

<body>

    <header id="intestazione">

        <img src="../immagini/logo.png" id="logo" alt="logo">
        
        <nav id="menu">
            <a href="index.php">Home</a>
            <a href="prenotazioni.php">prenotazioni</a>
            <a href="account.php">account</a>
            <a href="login.php" class="active">login</a>
        </nav>
        
    </header>

</body>

</html>