/* ------------------------------
   standard
------------------------------ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Noto Sans", sans-serif;
    background-color: var(--background);
}
:root{
    
    --background: #f9f9ff;

    --colore_pagina_attuale: #4171ab;
}

/* ------------------------------
   header
------------------------------ */
body{
    display: grid;
    grid-template-columns: 1fr 3fr;
}



/* ------------------------------
   main
------------------------------ */



